.DS_Store
GUI/__pycache__/*
ERWord2VecDL/.idea/*
Generation/.idea/*
Generation/checkpoint/*
.idea/
Generation/__pycache__/*
ERWord2VecDL/*
GUI/test_gpt2.py
ER-Word2Vec-DL
ERWord2VecDL/serving/__pycache__/
Generation/GenerationModel
Generation/models
EmotionRecognition/serving/__pycache__/
